<html>
<head>
<title>homepage</title>
<link rel="stylesheet" type="text/css" href="homepage.component.css">
</head>
<body>
<div id="abc">
    <!-- <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a routerLink="/signup" routerLinkActive="active">Login/Signup</a></li>
        </ul>
    </nav> -->
    <section>
        <div class="text-box">
      <h1> ZonalDesk-Customer Query Resolution System</h1><br>
       <p>ZonalDesk is a unique initiative to ensure the quality engineering services in rural area based on the proven service frameworks and processes by utilizing modern technology platform. Process Automation of the system provides transparency and control for the service delivery. Customer QRS is one of the key module of ZonalDesk where customer interactions are captured and processed.</p>

    </div>
    </section>
</div>
</body>
</html>