<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>

<div class="about-section">
  <h1>About</h1>
  <p>We are the zonal engineers to develop the rural areas...Rural Engineering Service was formed in the year 1976, under the Panchayat and Rural Development Department, MP Govt.Its objective is to perform relatively low cost construction works in rural areas except urban area ie district headquarters and urban area and to take technical advice and technical control over all the construction works being executed by the three-tier Panchayat Raj Institutions.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/venkat.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Venkatreddy Dadani</h2>
        <p class="title">CEO & Founder</p>
        <p>Btech,Mtech,phD</p>
        <p>reddygaariabbayi@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/mike.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike</h2>
        <p class="title">Art Director</p>
        <p>Btech(IIT Roorke)</p>
        <p>mike@gmail.com</p>
        
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="assets/img/jhon.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John</h2>
        <p class="title">Designer</p>
        <p>Btech(IIT Mumbai)</p>
        <p>john@gmail.com</p>
        
      </div>
    </div>
  </div>
</div>

</body>
</html>
